<nav>
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center py-4">
      <!-- Logo -->
      <a href="#" class="text-xl font-bold ">Quasar</a>

      <ul class="flex space-x-4">
        <li>
          <a href="/home" class="text-gray-200 hover:text-red-300">Home</a>
        </li>
        <li>
          <a href="/products" class="text-gray-200 hover:text-red-300">Products</a>
        </li>
        <li>
          <a href="/realtimeproducts" class="text-gray-200 hover:text-red-300">Real Time products</a>
        </li>
        <li>
          <a href="/chat" class="text-gray-200 hover:text-red-300">Chat</a>
        </li>
        <li>
          <a id="cartLink" href="#" class="text-gray-200 hover:text-red-300">Carrito</a>
        </li>
        <li>
          <a id="profile" href="/auth/profile" class="text-gray-200 hover:text-red-300">Profile</a>
        </li>
        <li class="hover:scale-105 duration-500">
          <a id="cartLink" href="/api/auth/logout" class="text-gray-200 bg-red-500 px-3 py-2  rounded-lg hover:bg-red-600 duration-500">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  // Obtener el ID del carrito del localStorage
  const cartId = localStorage.getItem('cartId');

  if (cartId) {
    const cartURL = `/carts/${cartId}`;

    const cartLink = document.getElementById('cartLink');

    cartLink.href = cartURL;
  }
</script>